@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

.brick {
  background-image: url("../../public/images/brickWall.webp");
  background-size: 50%;
}

.font-shadow {
  text-shadow: 0 8px #000000;
  margin: 0;
}

.dot-shadow {
  text-shadow: 0 8px #000000;
  box-shadow: 3px 3px #000000;
}